body {
  height: auto;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}

main {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.w-3 {
  min-width: 30%;
  width: 30%;
}

.h-2 {
  min-height: 50%;
  height: 50%;
}

.w-full {
  min-width: 100%;
  width: 100%;
}

.h-full {
  min-height: 100%;
  height: 100%;
}

.h-screen {
  height: auto;
  min-height: auto;
  max-height: auto;
}

.h-card {
  height: 482px;
}

.h-90 {
  min-height: 90%;
  height: 90%;
}

.w-90 {
  min-width: 90%;
  width: 90%;
}

.h-60 {
  min-height: 55%;
  height: 55%;
  cursor: pointer;
}

.w-60 {
  min-width: 60%;
  width: 60%;
}

.text-12 {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.w-30 {
  width: 30%;
  min-width: 30%;
}

.text-17 {
  font-size: 17px;
  font-weight: 400;
}

.text-24 {
  width: 90%;
  font-size: 24px;
  font-weight: 600;
  opacity: 60;
}

.bg-btn {
  background-color: #36b37f;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bg-btn:hover {
  background-color: transparent;
  color: rgb(3, 17, 29);
  border: 2px solid #36b37f;
}

.bg-border {
  border-bottom: 6px solid #36b37f;
}

.text-work {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  opacity: 70;
}

.bot-h {
  height: 100px;
  min-height: 400px;
}

.top-h {
  height: 50px;
  min-height: 50px;
}

section {
  background-image: url(assets/about-me.svg);
  background-repeat: no-repeat;
}

.about-me h2 {
  color: #172b4d;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.about-me p {
  color: #42526e;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.card {
  background-color: #ebf0ee;
}

.list-group li {
  font-size: 14px;
}

@media (min-width: 375px) {
  .about-me-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 1px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media (max-width: 700px) {
  .w-3 {
    width: 100%;
  }

  .top-h {
    height: 50px;
    min-height: 50px;
  }

  .text-work {
    width: 80%;
    text-align: center;
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    opacity: 70;
  }
}

/* Header Styles */
header {
  background-image: url("/assets/Header-illustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-scroller {
  position: relative;
  height: 2.75rem;
  z-index: 2;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-nav {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}

.header-hero-wrapper {
  padding: 10rem 0;
}

.header-hero {
  max-width: 700px;
}

.header-hero h1:nth-of-type(1) {
  color: #172b4d;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
}

.header-hero h1:nth-of-type(2) {
  color: #36b37e;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
}

.header-hero p:nth-of-type(1) {
  color: #172b4d;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

@media (max-width: 768px) {
  header {
    background-image: url("/assets/header-illustration-mobile.svg");
  }

  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: hsla(0, 0%, 100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }

  .navbar-nav {
    padding: 4rem 2rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem;
  }

  .navbar-toggler {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 1;
  }

  .navbar-toggler.open {
    position: fixed;
    top: 8px;
    right: 12px;
    background-image: url("./assets/Icon-Cancel.svg");
    background-size: 100%;
  }

  .navbar-toggler.open .navbar-toggler-icon {
    background-image: none;
  }
}

.nav-link {
  color: hsl(218, 31%, 30%);
}

.nav-link:hover {
  color: hsl(155, 54%, 46%);
}

.nav-link:active {
  color: hsl(157, 100%, 26%);
}

@media (min-width: 375px) {
  .about-me-wrapper {
    padding: 64px 24px;
    gap: 58px;
  }

  .container {
    padding: 24px;
  }
}
